In [2]:
import pandas as pd

products = pd.read_csv('pc_data.csv')
print(products.dtypes, 'Some info about the data')
print(products.columns)
print(products.index)

Id                int64
Component        object
Brand            object
Model            object
Specs            object
Serial Number    object
Notes            object
dtype: object Some info about the data
Index(['Id', 'Component', 'Brand', 'Model', 'Specs', 'Serial Number', 'Notes'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

In [3]:
# describe() method will give us some statistic about the data, and it works only on numberical columns (int columns)
products.describe()

             Id
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [4]:
# More data about the data
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             6 non-null      int64
 1   Component      6 non-null      object
 2   Brand          6 non-null      object
 3   Model          6 non-null      object
 4   Specs          6 non-null      object
 5   Serial Number  5 non-null      object
 6   Notes          6 non-null      object
dtypes: int64(1), object(6)
memory usage: 468.0+ bytes

In [ ]:
product_prices = pd.Series([500, 1500, 1850, 2300, 670, 6400])
# mean() will give you the average of the column (only for int)
print(product_prices.mean())
print(product_prices.sum())
print(products['Id'].sum())
# len will return the length of the dataframe
print(len(products))

2203.3333333333335
13220
21
6