<a href="https://colab.research.google.com/github/idoMadarr/Tensorflow-Deep-Learning/blob/main/pandas_the_basics/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

print(pd.__version__)

2.2.2

In [9]:
# Pandas work with two main datatypes, "Series" and "DataFrame"

# Series is one dimensional
series_1 = pd.Series(["Honda", "Kia", "Toyota", "BMW"])
series_2 = pd.Series(["Red", "Green", "Blue", "Pink", "Yellow"])

print(series_1)
print(series_2)

0     Honda
1       Kia
2    Toyota
3       BMW
dtype: object
0       Red
1     Green
2      Blue
3      Pink
4    Yellow
dtype: object

In [4]:
# DataFrame is two dimensional
car_data = pd.DataFrame({ "Car": series_1, "Color": series_2 })

print(car_data)

      Car   Color
0   Honda     Red
1     Kia   Green
2  Toyota    Blue
3     BMW    Pink
4     NaN  Yellow

In [ ]:
# In most cases we dont create a DataFrame from scrach, but import xls or spreadsheet (csv) file

nina_purchases = pd.read_csv('nina.csv')
# some changes in the data...
nina_purchases.to_csv('nina-2.csv', index=False) # If the file already include id/index to each item, we have to remove the auto IDs approch by set "index=False"
# nina_purchases.to_excel('nina-2.xls')

exported_nina_purchases = pd.read_csv('nina-2.csv')
exported_nina_purchases

      product  quantity
0         UPC         1
1         GPU         1
2  Memory RAM        32
3     Monitor         2
4    Air Cool         4
5    Keyboard         1
6       Mouse         1
7         Mic         1
8      Sounds         2